{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}

{% block body_block %}

     <div class="page-header">
                <h1>About me.</h1>
            </div>
            <div>
            <strong>{{ boldmessage}}</strong><br/>
            <a href="/rango/">Index</a><br />
            <img src="{% static "images/me.jpg" %}" alt="Photo of me" /><br /><!-- New line -->
            You have visited this site {{ visited }} times
            </div>
{%endblock%}




